body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

h1 {
    color: white;
    font-family: inter;
    font-weight: 600;
    font-size: 28px;
}

.location-txt {
    color: hsl(75, 94%, 57%);
    font-family: inter;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0;
}

p {
    color: white;
    font-family: inter;
    margin: 1rem 0;
    font-size: 13px;
    text-align: center;
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.main-card {
    background: hsl(0, 0%, 12%);
    min-width: 300px;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    margin-bottom: rem;
}

.card-btn button {
    background: hsl(0, 0%, 20%);
    color: white;
    border: none;
    padding: 10px;
    width: 18rem;
    border-radius: 5px;
    font-family: inter;
    font-weight: 600;
}

.card-btn button:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
